.hm-StoriesCard{
    width:747px;
    border: 1px solid var(  --secondary-color);
    background-color: var(  --secondary-color);
    border-radius:14px ;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
@media (max-width:1440px) {
    .hm-StoriesCard{
    width:595px;
    padding: 40px;
    display: flex;
    gap: 40px;
    border-radius: 12px;
    }
}
@media (max-width:390px) {
    .hm-StoriesCard{
        width:383px;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        gap: 20px;
        } 
}