.MA-titleContainer {
  width: 1340px;
  height: 125px;
  padding: 40px 200px 40px 40px;
  border-radius: 16px;
  background-color: var(--secondary-color);
  border: 2px solid;
  border-color: var(--border-color);
}

.MA-titleContainer h3 {
  width: 1100px;
  height: 45px;
  font-family: var(--roboto-font);
  font-size: 38px;
  font-weight: 600;
  line-height: 44.53px;
  text-align: left;
  color: var(--titles-color);
}

@media (max-width: 1888px) {
  .MA-titleContainer {
    width: 1780px;
    height: Hug (156px) px;
    padding: 50px 300px 50px 50px;
    border-radius: 16px;
  }
  .MA-titleContainer h3 {
    width: 1430px;
    height: 56px;
    font-size: 48px;
    font-weight: 600;
    line-height: 56.25px;
    text-align: left;
  }
}
@media (max-width: 1440px) {
  .MA-titleContainer {
    width: 1340px;
    height: 125px;
    padding: 40px 200px 40px 40px;
    border-radius: 16px;
  }
  .MA-titleContainer h3 {
    width: 1100px;
    height: 45px;
    font-size: 38px;
    font-weight: 600;
    line-height: 44.53px;
    text-align: left;
  }
}
@media (max-width: 420px) {
  .MA-titleContainer {
    width: 338px;
    height: 114px;
    padding: 24px;
    border-radius: 14px;
  }
  .MA-titleContainer h3 {
    width: 290px;
    height: 66px;
    font-size: 28px;
    font-weight: 600;
    line-height: 32.81px;
    text-align: left;
  }
}
