.Hm-ourServinces-component {
    border: solid 2px var(--border-color);
    border-radius: 24px;
    padding: 20px;
    margin: 120px 50px 0px 50px;
}
.hm-cards-seviesone{
gap: 20px;
width:878px; 
display: flex;
flex-wrap: wrap;
}
.hm-cards{
    display: flex;
    gap: 20px;
    margin-top: 20px;
  
}