
.HM-Margin{
    margin: 20px 50px;
}
.hm-question-content{
    display: flex;
    justify-content: space-between;
   align-items: start;
   gap: 20px;


}
@media (max-width:1440px) {
    .hm-question-content{
  gap: 10px;
    }
    .HM-Margin{
        margin: 10px 30px;
    }
}
@media (max-width:620px) {
    .hm-question-content{
        display: flex;
 flex-wrap: wrap;
  gap: 10px;
   align-items: center;
    }
}