.mahmoudTitleColor {
  color: #f9efec;
  font-family: "Roboto Flex", sans-serif;
}
.mahmoudTestMonialsContainer {
  background-color: #1a1a1a;
  width: 1780px;
  height: 168px;
  border-radius: 16px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}
.mahmoudBtnStyle {
  color: #b3b3b2;
  background: transparent;
  width: 193px;
  height: 30px;
  font-weight: 500px;
  line-height: 30px;
  size: 20px;
  border: none;
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
}
.mahmoudIconStyle {
  color: #e7beb1;
  width: 28px;
  height: 28px;
}
/* responsive */
@media screen and (min-width: 390px) and (max-width: 800px) {
  .mahmoudTestMonialsContainer {
    width: 338px;
    height: 81px;
    padding: 24px 0px 0px 0px;
    gap: 16px;
    border-radius: 14px 0px 0px 0px;
  }
  .mahmoudBtnStyle {
    display: none;
  }
  .mahmoudTitleColor {
    width: 338px;
    height: 81px;
    padding: 24px 0px 0px 0px;
    gap: 16px;
    border-radius: 14px 0px 0px 0px;
    width: 290px;
    height: 33px;
    font-size: 28px;
    font-weight: 600;
    line-height: 32.81px;
    text-align: left;
    text-decoration-skip-ink: none;
    text-align: center;
    margin-left: 7rem;
  }
}
@media screen and (min-width: 801px) and (max-width: 1440px) {
  .mahmoudTestMonialsContainer {
    width: 1340px;
    height: 136px;
    padding: 40px 0px 0px 0px;
    border-radius: 14px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
  }
  .mahmoudTitleColor {
    width: 1042px;
    height: 45px;
    font-size: 38px;
    font-weight: 600;
    line-height: 44.53px;
    text-align: left;
    text-decoration-skip-ink: none;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  .mahmoudTestMonialsContainer {
    width: 1780px;
    height: 168px;
    padding: 50px 0px 0px 0px;
    border-radius: 16px 0px 0px 0px;
  }
  .mahmoudTitleColor {
    width: 1409px;
    height: 56px;
    font-size: 48px;
    font-weight: 600;
    line-height: 56.25px;
    text-align: left;
    text-decoration-skip-ink: none;
  }
}
