.hm-StoriesDivComponent{
    display: flex;
    gap:12px
}
@media (max-width:1440px) {
    .hm-StoriesDivComponent{
    display: flex;
    flex-wrap: wrap;
    gap:10px
}
}
@media (max-width:390px) {
    .hm-StoriesDivComponent{
        display: flex;
        flex-wrap: wrap;
        gap:8px
    }   
}