.hm-ServiesCom{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 20px;
}
@media (max-width:1440px) {
    .hm-ServiesCom{
        display: flex;
        flex-direction: column;
        gap:10px;
        margin-top: 10px;
    }    
}
@media (max-width:390px) {
    .hm-ServiesCom{
    display: none;
    }   
}